



{{#if comments}}
{{#each comments}}
<div class="comment">
{{this.text}}


{{#if this.replies}}


<div class="reply" style="margin-left: 20px;">
{{> _comment comments = this.replies}}

</div>
{{/if}}
</div>
{{/each}}
{{/if}}


