
<div class="comment-wrapper">



{{#if comments}}
{{#each comments}}
<div class="comment">
{{this.text}}


{{#if this.replies}}


<div class="reply" style="margin-left: 20px;">
{{> _comment comments = this.replies}}

</div>
{{/if}}
</div>
{{/each}}
{{/if}}
{{!-- {{#if comments}}
<div class="comment">
    {{#each comments}}
{{this.text}}
{{#if this.replies}}
<div class="reply">
{{#each this.replies}}
{{this.text}}
{{/each}}
</div>
{{/if}}

    {{/each}}
     </div>



{{/if}} --}}

</div>