<div class="container border border-primary  ">
<h2 class="text-center">Post an Article</h2>

<form action= "/" method="POST" class="p-3">


 {{#if errorMessage}}
<div class="alert alert-danger">
{{errorMessage}}

</div>
    {{/if}}

    {{> _form}}
</form>
</div>