
<div class="container  ">
<a href="/newPost" class="btn btn-success"> All Articles</a>

<div class="card-body  border p-2 m-3">


    
     <a href="/editPost/{{post._id}}" class="btn btn-primary m-2">Edit</a>
<button id="deletebtn" class="btn btn-secondary">Delete</button>


<div class="m">
<div class="m-c">
    <div class="card-text m-2">
        <h4>Do you want to delete it?</h4>
    </div>
        <button id="canclebtn" class="btn btn-primary">Cancle</button>
        <a href="/deletePost/{{post._id}}" class="btn btn-secondary m-2">Delete</a>
</div>

</div>
<h2 class="card-title p-2 text-center">
    
{{post.title}}

</h2>
    
<div class="card-text m-3">

    {{{post.html}}}
</div>
 
</div>

</div>
        {{> comment}}





